spring:
  datasource:
    url: jdbc:postgresql://user-db:5432/userdb
    username: user
    password: userpass

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

server:
  port: 8081