spring:
  datasource:
    url: jdbc:postgresql://budget-db:5432/budgetdb
    username: budget
    password: budgetpass

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

server:
  port: 8082
