name: Java CI with Gradle

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Run tests
      run: ./gradlew test

    - name: Build application
      run: ./gradlew build

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: java-artifacts
        path: build/libs/*.jar

    - name: Publish Test Report
      if: always()
      uses: dorny/test-reporter@v1
      with:
        name: JUnit Tests
        path: build/test-results/test/*.xml
        reporter: java-junit
        fail-on-error: false
